# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Simvue Nightlies (Ubuntu)

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0 * * *'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Ubuntu Nightly
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        git_ref:
          - dev
          - v2.1.2
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ matrix.git_ref }}
        fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_NIGHTLY_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_NIGHTLY_TOKEN }}
      run: python -m pytest tests/ -m 'not scenario' -c /dev/null -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
