name: Simvue Nightlies (macOS)

on:
  workflow_dispatch:
  schedule:
    - cron: '30 23 * * *'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  object_retrieval:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m object_retrieval -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  object_removal:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m object_removal -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  dispatch_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m dispatch -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  run_tests_online:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m run -m online -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  run_tests_offline:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m run -m offline -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  config_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m config -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  executor_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m executor -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  api_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m api -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
  local_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry self add poetry-plugin-export
        poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
        python -m pip install -r requirements.txt
        python -m pip install .
    - name: Test with pytest
      env:
        SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
        SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
      run: >-
        python -m pytest -x
        -m local -c /dev/null -p no:warnings
        -n 0 -v -o cache_dir=${GITHUB_WORKSPACE}/.pytest-cache
